.nav{
    background-color: gray;
    height: 100px;
    padding: 5px; 
    border-radius: 15px; 
    border-bottom-right-radius: 100px 50px; 
    border-top-right-radius: 100px 50px;
}
.nav h1{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
#site_name{
    float: left; 
    align-items: center;
}
#account{
    float: right;
}
#part1{
    margin-top: 10cap;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#exmp{
    background-color: black;
    border-radius: 30px;
    margin-right: 2cap;
    float: right;
    padding: 20px;
    height: 500px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
}
#exmp img{
    border-radius: 2cap;
    height: 20cap;
    width: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
}
.under{
    position: relative;
    top: 0;
    left: 0;
}
#i1{
    position: absolute;
    top: 13cap;
    left: 13cap;
}
#herobtn {
    display: flex;
    justify-content: center;
    width: 20cap;
    height: 8cap;
    color: white;
    background-color: black;
    position: relative;
    overflow: hidden;
    margin-top: 22cap;
    margin-left: 23%;
}
#herobtn div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #FFF;
}
.top { top: -10px; }
.bottom { bottom: -10px; }
.left { left: -10px; }
.right { right: -10px; }
