body{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: gray;
    height: 100px;
    padding: 5px; 
    border-radius: 15px; 
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
#site_name{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10cap;
    padding-left: 3cap;
}
#account{
    float: right;
}
#left{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: bisque;
}
#left .exmp{
    background-color: black;
    border-radius: 30px 0 0 30px;
    float: right;
    padding: 20px;
    height: 500px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    top: 0;
    left: 0;
}
.exmp img{
    border-radius: 2cap;
    height: 20cap;
    width: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    position: relative;
    top: 0;
    left: 0;
}
#left #herobtn {
    display: flex;
    justify-content: center;
    width: 20cap;
    height: 8cap;
    color: white;
    background-color: black;
    position: relative;
    overflow: hidden;
    margin-top: 22cap;
    margin-left: 23%;
}
#herobtn div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: bisque;
}
.top { top: -10px; }
.bottom { bottom: -10px; }
.left { left: -10px; }
.right { right: -10px; }

#right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
}
#right .exmp{
    background-color: black;
    border-radius: 0 30px 30px 0;
    float: right;
    padding: 20px;
    height: 500px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}
#right #herobtn {
    display: flex;
    justify-content: center;
    width: 20cap;
    height: 8cap;
    color: white;
    background-color: black;
    position: relative;
    overflow: hidden;
    margin-top: 22cap;
    margin-right: 23%;
}
#right #herobtn div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: gray;
}
#bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10cap;
    margin-bottom: 10cap;
} 
.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c img{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.q{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 25px;
    align-items: center;
}
.q p{
    padding-left: 5px;
    font-family: cursive;
}