body{
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3cap; padding-right: 3cap; 
    padding-top: 1cap; padding-bottom: 1cap;
    font-size: 30px;
}
.s{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header img{
    width: 100px;
    height: 100px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(62, 62, 62);
    font-size: 20px;
}
.nav p{
    margin: 0;
    border-left: 2px solid rgb(115, 115, 115);
    height: 106px;
}
.nav a {
    text-decoration: none;
    padding: 30px;
    font-size: 40px;
    color: white;
    width: 50%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    transition: color 0.5s;
    
}
.nav a:hover {
    background-color: rgb(120, 120, 120);
    color: black;
}
.show{
    display: flex;
}
.show img{
    width: 33.33%;
    height: auto;
}