body{
    margin: 0;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3cap; padding-right: 3cap; 
    padding-top: 1cap; padding-bottom: 1cap;
    font-size: 20px;
}
.s{
    display: flex;
    align-items: center;
    gap: 20px;
}
header button{
    border: 0;
    background-color: transparent;
}
header img{
    width: 60px;
    height: 60px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(62, 62, 62);
}
.nav p{
    margin: 0;
    border-left: 2px solid rgb(115, 115, 115);
    height: 62px;
}
.nav a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: white;
    width: 50%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.5s;
}
.nav a:hover {
    background-color: rgb(120, 120, 120);
    color: black;
}
.show{
    display: flex;
}
.show img{
    width: 33.33%;
    height: auto;
}
.pr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pr p{
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prod p{
    font-size: 20px;
}
.prod img{
    width: 350px;
    height: auto;
    box-shadow: 5px 5px 4px gray ;   
}
