:root{
    --bg-color: #ffffff;
    --nav-bg-color: #d5d5d5;
    --text-nav-color: #252525;
    --hover-color: #707070;
    --text-hover-color: #ffffff;
    --text-h-color: #000000;
    --th-color: #c1c1c1;
    --th-ic: #000000;
}
.darkmode{
    --bg-color: #141414;
    --nav-bg-color: #1f1f1f;
    --text-nav-color: #d7d7d7;
    --hover-color: #6e6e6e;
    --text-hover-color: #040404;
    --text-h-color: #d1d1d1;
    --th-color: #333333;
    --th-ic: #dcdcdc;
}
body{
    margin: 0;
    background-color: var(--bg-color);
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3cap; padding-right: 3cap; 
    padding-top: 1cap; padding-bottom: 1cap;
    font-size: 20px;
    color: var(--text-h-color);
}
.r{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s{
    display: flex;
    align-items: center;
    gap: 20px;
}
#dark-ch{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--th-color);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#dark-ch svg{fill: var(--th-ic);}
#dark-ch svg:last-child{display: none;}
.darkmode #dark-ch svg:first-child{display: none;}
.darkmode #dark-ch svg:last-child{display: block;}
header button{
    border: 0;
    background-color: transparent;
}
header img{
    width: 60px;
    height: 60px;
}
#icon{background: transparent;}
.darkmode #icon svg{fill: #ffffff;}
#iN{display: none;}
.darkmode #iS{display: none;}
.darkmode #iN{display: block;}
#acN{display: none;}
.darkmode #acS{display: none;}
.darkmode #acN{display: block;}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--nav-bg-color);
}
.nav p{
    margin: 0;
    border-left: 2px solid var(--hover-color);
    height: 62px;
}
.nav a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: var(--text-nav-color);
    width: 50%;
    text-align: center;
    transition: background-color 0.3s;
    transition: color 0.5s;
}
.nav a:hover {
    background-color: var(--hover-color);
    color: var(--text-hover-color);
}
.show{
    display: flex;
}
.show img{
    width: 33.33%;
    height: auto;
}
.pr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pr p{
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prod p{
    font-size: 20px;
}
.prod img{
    width: 200px;
    height: auto;
    box-shadow: 5px 5px 4px gray ;   
}
.pr{
    color: var(--text-h-color);
}
.footer{
    display: flex;
}
.footer div{
    flex-grow: 1;
    text-align: center;
}
#ic{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ic p{
    margin: 0;
    border-left: 2px solid var(--hover-color);
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    width: 2px;
}
#ic button{
    height: 40px;
    width: 40px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
#ic button:hover{
    width: 60px;
    border-radius: 30%;
    box-shadow: 2px 2px 1px gray;
}
#lgo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#lgo img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#lgo button{
    height: 35px;
    width: 35px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
#paym{
    display: flex;
    align-items: center;
    justify-content: center;
}
#paym img{
    width: 40px;
    height: 35px;
}
#paym button{
    border: none;
    background: transparent;
    transition: background-color 0.3s;
}
.qa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--text-h-color);
}
.title-d{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-h-color);
}